@media(max-width: 900px) {
    .container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 300px 70px 2200px 600px 40px;
        grid-template-areas: 
        "hd"
        "nav"
        "main"
        "author"
        "ft";
    }

    /* header */
    header {
        grid-area: "hd";
        display: flex;
        align-items: center;
        justify-content: center;
        font: 26px "Segoe Print";
    }

    .img-header {
        max-height: 150px;
        width: auto;
        margin-right: 50px;
    }
    
    body {
        font: 14px "Arial";
        text-align: justify;
    }

    /* navbar */
    .menu {
        grid-area: "nav";
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex-direction: row;
        background: linear-gradient(to right, white, #f7ecdc, #fae0bb, #fcdab7, #ffd6ad, #fcdab7, #fae0bb, #f7ecdc, white);
        border-radius: 30% 30% 30% 30%;
        padding: 0 20px 0 20px;
    }

    .menu a {
        color: #7e4300;
    }

    a:hover {
        color: #d47c00;
    }

    /* main conten (recipe) */
    .main {
        grid-area: "main";
    }

    .intro {     
        padding: 30px 50px 30px 50px;
        border-bottom: 1px dotted rgb(170, 0, 51);
    }

    .recipe {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 400px 600px 1000px;
        grid-template-areas: 
        "img"
        "ing"
        "prep";
        padding: 30px 50px 30px 30px;
    }

    .image {
        grid-area: "img";
    }

    .image img {
        width: 100%;
    }

    .ingredients {
        grid-area: "ing";
        margin: 0 auto 0 auto;
    }

    li {
        margin-bottom: 13px;
    }
    
    .preparation {
        grid-area: "prep";
        padding-left: 50px;
    }

    .preparation h2 {
        margin-top: 0;
    }

    /* author */
    .author {
        grid-area: "author";
        display: flex;
        flex-direction: column;
        padding: 50px 50px 0 50px;
        border-top: 1px dotted rgb(170, 0, 51);
    }

    .author img {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .social-media {
        display: flex;
        justify-content: space-evenly;
        padding: 20px 10px 0 10px;
    }

    .social-media button {
        height: 35px;
        width: 40px;
        border-radius: 20px;
        background-color: #fdbd7d;
        border: 1px solid black;
    }

    i {
        color: black;
    }

    /* footer */
    footer {
        grid-area: "ft";
        display: flex;
        flex-direction: row;
        background-color: black;
        color: white;
        padding: 0 30px 0 30px;
        justify-content: center;
        align-items: center;
    }
}