@media(max-width: 900px) {
    .container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 300px 70px 270px 2400px 40px;
        grid-template-areas:
        "hd"
        "nav"
        "sb"
        "main"
        "ft";
    }

    /* header */
    header {
        grid-area: "hd";
        display: flex;
        align-items: center;
        justify-content: center;
        font: 20px "Segoe Print";
        text-align: center;
    }

    .img-header {
        max-height: 120px;
        width: auto;
        margin-right: 20px;
    }

    /* body */
    body {
        font: 14px "Arial";
        text-align: justify;
    }

    /* navbar */
    .menu {
        grid-area: "nav";
        justify-content: space-around;
        align-items: center;
        display: flex;
        flex-direction: row;
        background: linear-gradient(to right, white, #f7ecdc, #fae0bb, #fcdab7, #ffd6ad, #fcdab7, #fae0bb, #f7ecdc, white);
        border-radius: 30% 30% 30% 30%;
        padding: 0 20px 0 20px;
    }

    .menu a {
        color: #7e4300;
    }

    a:hover {
        color: #d47c00;
    }
    
    /* sidebar (popular posts) */
    .sidebar {
        padding: 10px 0 20px 0;
        grid-area: "sb";
        margin: auto;
        text-align: center;
    }

    .sidebar a {
        text-decoration: none;
    }

    .popular a {
        color: #235dc9;
    }

    /* main content (recipes) */
    .main {
        grid-area: "main";
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 40px;
    }

    .card {
        height: 340px;
        width: 260px;
        border: 1px solid rgb(150, 150, 150);
        border-radius: 10px;
        padding: 0 0 15px 0;
        margin-bottom: 40px;
    }

    .card:hover {
        box-shadow: 5px 5px 8px rgba(206, 206, 206, 0.77);
    }

    .img-recipe {
        width: 100%;
        border-radius: 9px 9px 0 0;
    }

    .recipe-info {
        padding: 0 25px 0 25px;
    }

    .recipe-details {
        display: grid;
    }

    .btn-view {
        display: flex;
        justify-content: flex-end;
    }

    .btn-view a {
        text-decoration: none;
        color: black;
    }

    .no-view {
        background-color: #b8b8b8;
    }

    .no-href {
        color: #b8b8b8;
    }

    button {
        border-radius: 20px;
        width: 90px;
        height: 35px;
        background-color: #fdbd7d;
        border: 1px solid black;
    }

    button:hover {
        box-shadow: 5px 5px 8px rgba(206, 206, 206, 0.77);
    }
    
    /* footer */
    footer {
        grid-area: "ft";
        display: flex;
        flex-direction: row;
        background-color: black;
        color: white;
        padding: 0 30px 0 30px;
        justify-content: center;
        align-items: center;
    }
}