@media(min-width: 901px) and (max-width:1280px) {
    .container {
        display: grid;
        grid-template-columns: 250px 1fr;
        grid-template-rows: 250px 80px 1400px 55px;
    }

    /* header */
    header {
        grid-area: 1/1/2/3;
        display: flex;
        align-items: center;
        justify-content: center;
        font: 36px "Segoe Print";
        text-align: center;
    }

    .img-header {
        max-height: 180px;
        width: auto;
        margin-right: 50px;
    }

    /* body */
    body {
        font: 15px "Arial";
    }

    /* navbar */
    .menu {
        grid-area: 2/1/3/3;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex-direction: row;
        background: linear-gradient(to right, white, #f7ecdc, #fae0bb, #fcdab7, #ffd6ad, #fcdab7, #fae0bb, #f7ecdc, white);
        border-radius: 30% 30% 30% 30%;
        padding: 0 90px 0 90px;
    }

    .menu a {
        color: #7e4300;
    }

    a:hover {
        color: #d47c00;
    }
    
    /* sidebar (popular posts) */
    .sidebar {
        padding: 20px 30px 30px 30px;
        grid-area: 3/1/4/2;
    }

    .sidebar a {
        text-decoration: none;
    }

    .popular {
        padding-left: 15px;
    }

    .popular a {
        color: #235dc9;
    }

    /* main content (recipes) */
    .main {
        grid-area: 3/2/4/3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        padding: 40px 30px 40px 30px;
    }

    .card {
        height: 370px;
        width: 260px;
        border: 1px solid rgb(150, 150, 150);
        border-radius: 10px;
    }

    .card:hover {
        box-shadow: 5px 5px 8px rgba(206, 206, 206, 0.77);
    }

    .img-recipe {
        width: 100%;
        border-radius: 9px 9px 0 0;
    }

    .recipe-info {
        padding: 0 15px 0 15px;
    }

    .recipe-details {
        display: grid;
    }

    .btn-view {
        display: flex;
        justify-content: flex-end;
    }

    .btn-view a {
        text-decoration: none;
        color: black;
    }

    .no-view {
        background-color: #b8b8b8;
    }

    .no-href {
        color: #b8b8b8;
    }

    button {
        border-radius: 20px;
        width: 80px;
        height: 30px;
        background-color: #fdbd7d;
        border: 1px solid black;
    }

    button:hover {
        box-shadow: 5px 5px 8px rgba(206, 206, 206, 0.77);
    }
    
    /* footer */
    footer {
        grid-area: 4/1/5/3;
        display: flex;
        flex-direction: row;
        background-color: black;
        color: white;
        padding: 0 30px 0 30px;
        justify-content: center;
        align-items: center;
    }
}