@media(max-width: 900px) {
    .container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 300px 70px 530px 40px;
        grid-template-areas:
        "hd"
        "nav"
        "main"
        "ft";
    }

    /* header */
    header {
        grid-area: "hd";
        display: flex;
        align-items: center;
        justify-content: center;
        font: 20px "Segoe Print";
        text-align: center;
    }

    .img-header {
        max-height: 120px;
        width: auto;
        margin-right: 20px;
    }

    /* body */
    body {
        font: 14px "Arial";
        text-align: justify;
    }

    /* navbar */
    .menu {
        grid-area: "nav";
        justify-content: space-around;
        align-items: center;
        display: flex;
        flex-direction: row;
        background: linear-gradient(to right, white, #f7ecdc, #fae0bb, #fcdab7, #ffd6ad, #fcdab7, #fae0bb, #f7ecdc, white);
        border-radius: 30% 30% 30% 30%;
        padding: 0 20px 0 20px;
    }

    .menu a {
        color: #7e4300;
    }

    a:hover {
        color: #d47c00;
    }

    /* main */
    .main {
        grid-area: "main";
        padding: 40px;
    }
    
    /* footer */
    footer {
        grid-area: "ft";
        display: flex;
        flex-direction: row;
        background-color: black;
        color: white;
        padding: 0 30px 0 30px;
        justify-content: center;
        align-items: center;
    }
}